In [24]:
import pandas as pd
from sklearn import linear_model

df=pd.read_csv('C:\\Users\\PTS\\Desktop\\Anoconda\\ML2\\room.csv', nrows=5)
import math

In [25]:
df

   area  bedroom  age  price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      NaN   18  61000
3  3600      3.0   30  59500
4  4000      5.0    8  76000

In [27]:
m=math.floor(df.bedroom.mean())

In [30]:
df.fillna(m,inplace=True)

In [28]:
reg=linear_model.LinearRegression()

In [31]:
df

   area  bedroom  age  price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      3.0   18  61000
3  3600      3.0   30  59500
4  4000      5.0    8  76000

In [32]:
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [37]:
reg.predict([[2000,4,10]])

array([48587.5])